html {
  background-color:rgb(0, 0, 0);
}
*{
  position: absolute;
}
/* ---------------------------- */

#title {
  color:white;
  font-family: monospace;
  font-size: 60px;
  left: 225px;
  top: 15px;
  border-left:solid rgb(205, 205, 205) 3px;
  border-right: solid rgb(205, 205, 205) 3px;
  width: 700px;
  height: 75px;
  margin: 0px;
  padding-left: 15px;
  transition: 0.2s
}
#title:hover {
  color:rgb(157, 182, 228);
  border-color: blue;
}

#logo {
  font-family:monospace;
  line-height: 20px;
  letter-spacing: 10px;
  font-size: 20px;
  top: 15px;
  left: 15px;
  width: 75px;
  height: 75px;
  background-color:black;
  border-radius: 5px;
  color:aliceblue;
  transition: 0.1s ease-in;
}
#logo:hover {
  width: 85px;
  height: 85px;
  top: 10px;
  left: 10px;
  font-size: 26px;
  line-height: 25px;
  margin: 0px;
}

.github-link {
  position: absolute;
  font-family: monospace;
  font-size: 25px;
  letter-spacing: 10px;
  line-height: 35px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-top: solid rgb(200, 200, 200) 2px;
  border-bottom: solid rgb(200, 200, 200) 2px;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  left: 110px;
  top: 15px;
  padding-left: 5px;
  transition: 0.1s ease-in;
}
.github-link:hover {
  width: 80px;
  height: 80px;
  left: 105px;
  top: 10px;
  font-size: 30px;
  line-height: 40px;
}

/* ---------------------------- */
.cards {
  position: absolute;
  border-radius: 5px;
}
.card-text {
  font-family: 'Courier New', Courier, monospace;  
  color: black;
  background-color:rgb(205, 205, 205);
  padding:5px;
  border: solid rgb(0, 0, 0) 2px;
  border-radius: 14px;
  position: relative;
  text-align: center;
}
.card-img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.card-holder {
  border-radius: 10px;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
}
.card-holder:hover {
  opacity: 1;
  left: -10px;
  top: -10px;
  width: 107.5%;
  height: 105%
}

/* ---------------------------- */
#proj-card {
  background: rgb(205, 205, 205);
}

/* ---------------------------- */
#obj-card {
  background-color: rgb(155, 155, 155);
}

/* ---------------------------- */
#pendulum-card {
  background-color: rgb(105, 105, 105);
}

/* ---------------------------- */
#e-field-card {
  background-color: rgb(55, 55, 55);
}