*{
  position: absolute;
}

#obj-collision {
  display: none;
  top: 75px;
  width: 1200px;
  height: 600px;
  border: solid azure 2px;
  border-radius: 5px;
  background: rgb(75, 75, 70);
  margin: 10px;
}

#obj-collision-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14pt;
  left: 10px;
  top: 10px;
  margin: 0;
  z-index: 20;
}
#obj-collision-text-box {
  display:none;
  width: 287px;
  height: 137px;
  left: 5px;
  top: 5px;
  background-color:rgb(174, 174, 158);
  border: solid white 1px;
  z-index: 5;
}